@font-face {
  font-display: block;
  font-family: "bootstrap-icons";
  src: url("../fonts/bootstrap-icons.woff2?8d200481aa7f02a2d63a331fc782cfaf") format("woff2"),
url("../fonts/bootstrap-icons.woff?8d200481aa7f02a2d63a331fc782cfaf") format("woff");
}
.sticky-wrapper {
  margin-top: 0px !important;
}

.social-icon-link {
  background: none !important;
}

.navbar {
  padding-top: 8px !important;
}

.custom-icon {
  color: #ffffff !important;
}

.custom-b {
  border: 1px solid #ffffff !important;
  background: none !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
  color: #f50d0d !important;
}

.custom-form button {
  background: #000000 !important;
}

.custom-logo {
  max-height: 22px;
}